

.Login {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font: Arial, Helvetica, sans-serif;
  font-size: 15px !important;
}

.Footer {
  position: absolute; 
  bottom: 0;
  left: 0; 
  right: 0;
  background: red;
  font: Arial, Helvetica, sans-serif;
  font-size: 15px !important;
}

header {
  position: absolute; 
  top:  0;
  left: 0; 
  right: 0;
  border: 0 !important;
}

.logo {
  width: 90px !important;
  height: 50px !important;
}

 
.logo1{  
  width: 200px;
  height: 100px ;
} 

.ul{
  width: 18%;
  margin-top: 10%;
}
li{
  height: 20%;
  font: 1em sans-serif;
  font-size: 20px;
}

.rectangle {
  height: 5px;
  width: 90%;
  background-color: rgb(255, 17, 0);
  position:  relative;
  
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* .rectangle1 {
  height: 5px;
  width: 90%;
  background-color: rgb(0, 247, 255);
  position:  absolute;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 1%;
} */


.rectangle2 {
  height: 4px;
  width: 90%;
  background-color: rgb(255, 17, 0);
  position:  relative;
  
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
}

.site {
  height: 60px;
  width: 100%;
  background:  rgb(0, 247, 255);
  margin-top:  2%;
  border-radius: 10px;
}

.sitesoratr{
  font-size: 40px;
  color: #fff;
  text-align :center;
}

.Dashboard{
  background: darkgray;
  margin-top: 200px;
}

@media (max-width: 1140px) {
  
  .rectangle {
    height: 5px !important;
    width: 90% !important;
    background-color: rgb(255, 17, 0) !important;
    position:  relative !important;
    
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
/*   
  .rectangle1 {
    height: 500px !important;
    width: 90% !important;
    background-color: rgb(0, 247, 255) !important;
    position:  absolute !important;
    margin-left: 5% !important;
    margin-right: auto !important;
    margin-top: 1% !important;
  } */
  
  
  .rectangle2 {
    height: 4px !important;
    width: 90% !important;
    background-color: rgb(255, 17, 0) !important;
    position:  relative !important;
    
    margin-top: 1px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  }

  .liste{
    background: #fff;
    border: black;
  }

  td{
    left: 20px;
    width: 200px;
  }
  @media (max-width: 768px) {
    
    .sitesoratr{
      font-size: 20px;
      color: #fff;
      text-align :center;
    }
  }
/* @media (max-width: 600px) {
  .logo1{  
    width: 90px !important;
    height: 50px !important;
  }
  .ul{
    background: rgba(255, 8, 0, 0.932);
    height: 600px;
    padding-top: 15%;
    width: 30%;
  }
  li{
    height: 10%;
  }
} */



/*footer*/

.Footer
{
  /* position:relative; */
  z-index:0;
  overflow:hidden;
  /* width: 880px; */
  margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
  /* height:1%; */
  position: relative;
  z-index: 0;
  padding: 8px;
  text-align: center;
}

.Footer .Footer-background
{
  position:absolute;
  z-index:-1;
  background-repeat:no-repeat;
  /* background-image: url('image-demo-2011/Footer.png'); */
  width: 880px;
  height: 150px;
  bottom:0;
  left:0;
}


.rss-tag-icon
{
  position: relative;
  display:block;
  float:left;
  /* background-image: url('image-demo-2011/rssIcon.png'); */
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  height: 22px;
  width: 22px;
}




.Footer .Footer-text p
{
  margin: 0;
}

.Footer .Footer-text
{
  display:inline-block;
  color:#E9EBB7;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.Footer .Footer-text a:link
{
  text-decoration: none;
  color: #DDDDD0;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.Footer .Footer-text a:visited
{
  text-decoration: none;
  color: #1E1E15;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.Footer .Footer-text a:hover
{
  text-decoration: none;
  color: #1E1E15;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}